/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

#question-area {
    margin-bottom: 20px;
}

#choices {
    margin-bottom: 20px;
}

.choice {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

/* choice hover effect */
.choice:hover {
    background-color: #0056b3;
}
/* next question  */
#next-question {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* for obtain score */
#score-area {
    margin-top: 20px;
}

/* for the next button disabaled */
#next-question:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
